= render 'email_header', user: @user

p К сожалению, свободных секторов больше нет. Если квота будет увеличина, мы Вас уведомим по телефону или email. Также есть большая вероятность, что она будет увеличина непосредственно на мероприятии.

=render 'email_footer'