.row-3
  a.anch name="row3"
  .img-wrp
    = image_tag("bck3.jpg", class: "bimg-3");
    .grad-white
  .cont.ta-c
    .row.c.nopaddng
      .col-lg-6.left.col-md-6.col-sm-6.hidden-xs
        = image_tag("3-1.png")
      .col-lg-6.right.text-page.col-md-6.col-sm-6
        .visible-xs.small-img
          = image_tag("3-1.png")
        p
        | По-настоящему народный рыболовный турнир - “Народная
          Рыболовная Лига”. К участию приглашаются все рыболовы, имеющие
          опыт и навыки любительской и спортивной рыбной ловли, так и без
          наличия таковых.
        p
        |
          Самые простые правила, которые поймет любой новичок и любитель.
          Опыт действительно не имеет значения, вы просто ловите рыбу на
          любую снасть, а если поймали самую крупную рыбу, вас ждет
          незабываемый приз!
        p
        |
          Турнир стартует 23 июля в ____ в Москве на Гребном канале в
          Крылатском. Открытие самого фестиваля состоится в 9:00.
          Победитель получит звание «Народный рыбак 2016 года» и главный
          приз - АВТОМОБИЛЬ.
        p
        |
          Дружественная атмосфера, теплый воздух и радостный настрой –
          именно это ждет всех участников Народного турнира. Приходите,
          ловите и побеждайте! Турнир ждёт своих участников!
          Приглашаем на фестиваль «День рыбака»!
        br
        /br
        /a.btn.btn-warning href="http://feedercup-browning.ru/" ПРАВИЛА ТУРНИРА
        /br
        /br