.row-2
  =image_tag("bck2.jpg", class:"bimg-2");
  .cont.ta-c
    .r2t1 Приглашаем на фестиваль «День рыбака»!
    .r2t2
      | 23 июля в 9:00 в Москве на Гребном канале в Крылатском состоится праздничный
        фестиваль «День рыбака». Праздник для москвичей организовали Федеральное
        агентство по рыболовству, Департамент физической культуры и спорта города Москвы и
        Национальный Рыболовный Портал, при поддержке Московской городской Думы.
    .row.c
      .col-xs-12.col-lg-6.bl
        .wrp
          =image_tag("2-1.png");
          .bl2-1.bl-text
            | Вас будет ждать по-настоящему народный
              рыболовный турнир “Народная Рыболовная
              Лига”. Простые правила, любая снасть, вы
              просто ловите рыбу, и, если поймали самую
              крупную, то вас ждёт ценный приз! Принять
              участие может любой желающий, никаких
              ограничений нет. Победить можете и вы!
              Турнир ждёт своих участников!
      .col-xs-12.col-lg-6.bl
        .wrp
          =image_tag("2-2.png");
          .bl2-2.bl-text
            | Порадует и кухня праздника, вкусно поесть
              можно будет на специальной площадке
              городского кулинарного фестиваля «Русская
              рыба», где каждый сможет попробовать
              традиционные и авторские блюда из подводных
              обитателей, приобрести хорошо известные и
              редкие для столицы виды речной и морской
              рыбы. «Русская рыба» также порадует всех
              желающих бесплатной порцией вкуснейшей ухи,
              после которой вы точно попросите добавки.

      .col-xs-12.col-lg-6.bl
        .wrp
          = image_tag("2-3.png");
          .bl2-3.bl-text
            | А для любителей понаблюдать за
              спортивной ловлей рыбы, будет уникальная
              возможность увидеть, как
              профессиональные спортсмены-рыболовы
              борются за престижный кубок Browning,
              который является этапом самого
              представительного рыболовного турнира в
              Европе по ловле на английское донное
              удилище.
      .col-xs-12.col-lg-6.bl
        .wrp
          = image_tag("2-4.png");
          .bl2-4.bl-text
            | Также, вы сможете узнать секреты
              ведущих российских спортсменов.
              Ими с радостью с вами поделятся
              чемпионы России Сергей Пузанов и
              Евгений Щербков, а также –
              Чемпион Московской области
              Алексей Артёмов

      .col-xs-12.col-lg-6.bl
        .wrp
          = image_tag("2-5.png");
          .bl2-5.bl-text
            | Выставка-ярмарка представит лучшую
              продукцию российских и зарубежных
              производителей товаров для рыболовов,
              услуги рыболовных баз, спортивных
              прудов.
      .col-xs-12.col-lg-6.bl
        .wrp
          = image_tag("2-6.png");
          .bl2-6.bl-text
            | А для женщин - рыболовов, которых с
              каждым годом становится всё больше,
              журнал «Русская рыба» устроит мини-турнир,
              где будет разыгран специальный приз.
      .col-xs-12.col-lg-6.bl
        .wrp
          = image_tag("2-7.png");
          .bl2-7.bl-text
            | Рыболовный фестиваль — это
              не только спортивная ловля
              рыбы и выставка снаряжения
              под открытым небом. Весь
              день для гостей будут
              выступать звезды эстрады и
              звучать известные
              композиции диджеев.
      .col-xs-12.col-lg-6.bl
        .wrp
          = image_tag("2-8.png");
          .bl2-8.bl-text
            | Для детей и их родителей детский клуб “Smile&-
              Co” организует незабываемое анимационное
              шоу, которое состоится в уютном шатре, где
              можно будет удобно расположиться даже самым
              маленьким посетителям нашего турнира.

    .r2t3
      | Приходите на фестиваль «День рыбака»!
        Насладитесь вкусной едой, свежим воздухом и при этом ощутите
        настоящий адреналиновый всплеск и азарт охоты в отличной компании!
