b 1. Цели и задачи.

p -Популяризация рыбалки, как способа активного отдыха и здорового образа жизни.
 - Воспитание бережного отношения к природе и водоёмам
 - Укрепление связей между сообществами рыбаков. Обмен опытом в совершенствовании рыболовного снаряжения и рыболовного мастерства обмен опытом спортивной и тренерской работы.
p - Выявление сильнейших рыболовов в дисциплине - ловля рыбы с берега поплавочной (матч, мах, болонка, штекер) и донной фидер, донка (кормушка, пружина с одним крючком) снастью среди рыбаков

b    2. Статус и руководство соревнованиями.

p 2.1. Соревнования имеют статус неофициальных соревнований
p    2.2. Организаторы мероприятия
p    -Департамент физической культуры и спорта г. Москвы,
p            -Федеральное агентство по рыболовству России (Росрыболовство),
p      -ООО "Народная Рыболовная Лига" (представитель Народная Рыболовная Лига в России)
p      -ООО «Рыболовные Медиа» (Национальный Рыболовный портал)  
p  2.3. Подготовка соревнований возлагается на Оргкомитет.
p  2.4. Непосредственное проведение соревнований возлагается на Оргкомитет и Главную судейскую коллегию.


b  3. Место и время проведения соревнований


p    3.1. Соревнования пройдут 23 июня 2016 года на водоёме Гребной канал. КП ОУСЦ «Крылатское». Адрес: г. Москва, ул. Крылатская, д. 2 Метро: Крылатское, Молодежная
p  3.2. Конкретная береговая линия для выделения зон соревнований будет определена
  за 3 дня до проведения соревнований Оргкомитетом.
p  3.3. В уловах преимущественно преобладает карась, лещ, плотва, окунь, ...

b  4. Участники соревнований

p 4.1. Соревнования проводятся в личном зачете.
p  4.2. К соревнованиям допускаются все желающие рыболовы г.Москвы. Московской области и других областей и регионов России без ограничения по полу, возрасту и квалификации.
p  4.3. Именные заявки участников подаются до .. июня 2016 года.
p  4.4. Участники обязаны:
p  - соблюдать правила поведения на водоеме и техники безопасности;
p  - соблюдать правила соревнований и данного положения;
p  - соблюдение морально-этичных норм поведения в обществе;
p  - быть экипированным должным образом для безопасного участия в соревнованиях;
p  - безоговорочно придерживаться распоряжений и указаний судей;
p  - при ухудшении состояния здоровья срочно поставить в известность главного судью.
p  4.5. Участники соревнований несут полную ответственность за последствия, к которым могут привести нарушения ими правил поведения на водоеме, правил техники безопасности, норм поведения в общественных местах.
p  4.6. Участникам соревнований ЗАПРЕЩАЕТСЯ:
p  - начинать ловлю до начала соревнований (сигнала СТАРТ);
p  - продолжать ловить после окончания соревнований (сигнала ФИНИШ);
p  - принимать помощь от посторонних лиц;
p  - принимать или передавать выловленную рыбу от других участников или третьих лиц;
p  - использовать токсичные или ядовитые вещества, которые могут привести к гибели или болезни рыбы.
p  - употреблять спиртные напитки во время соревнований.

b  5. Регистрация и жеребьёвка участников.


p  5.1. Регистрация и жеребьевка будут проводиться непосредственно на месте проведения соревнований у судейского столика.
p  5.2. К участию допускаются все желающие, подавшие заявку с указанием фамилии, имени, отчества, даты рождения, представляемого региона по электронному адресу или по телефону не позднее 22 июня 2016г до 20:00 часов.
p  5.3. По приезду на место проведения соревнования, каждому участнику необходимо зарегистрироваться в судейской коллегии, получить личный номер участника и номер сектора который он вытащит при жеребьёвки и в котором он будет находиться на протяжении всего мероприятия.
p  5.4. Помощь детям со стороны взрослого допускается.
p  5.5. Участники моложе 18 лет допускаются к участию только при наличии совершеннолетнего сопровождающего при условии, что совершеннолетний сопровождающий несёт полную ответственность за безопасность сопровождаемого.
p  5.6. Лицам, прибывшим на соревнование в состоянии алкогольного и наркотического опьянения в регистрации будет отказано.
p  5.7. Количество участников ограничено. Всего к участию допускаются 350 человек.


b 6. Порядок и Правила проведения соревнований.


p  6.1.Формат соревнований - личный зачёт, к зачёту принимается только одна рыба (крупный вес).
p  Ловля проводится исключительно с берега. Замена сектора или повторное вытягивание жребия не допускается. В случае если участника состязания не устраивает сектор, доставшийся в результате жеребьевки, значит он добровольно отказывается от участия в соревновании..
p  Участники, опоздавшие на регистрацию, к соревнованиям не допускаются.
p  Участник, покинувший зону ловли (сектор) без крайней необходимости, замеченный в неспортивном поведении и любых махинациях с уловом - дисквалифицируется.
p  6.2. Соревнования проводятся в ОДИН тур в ОДИН день продолжительностью 4 часа, и в соответствии с Регламентом п.9.
p  6.3.Проводится жеребьевка, по результатам которой будет определен номер сектора
p  Участники по жребию распределяются в одной зоне каждый в своем секторе, который достался ему при жеребьёвке.
p  6.4. Протяженность одного сектора составляет .?. метров береговой линии.
p  6.5. Разрешается использование всех видов удилищ (матч, мах, болонка, штекер) и донной (фидер, кормушка, пружина с одним одинарным крючком).
p  Ловля рыбы проводится одной удочкой, состоящей из удилища, оснащённого леской, поплавком, грузилом и одним одинарным крючком или удилища, оснащенного леской, донной снастью (кормушкой, пружина) и одним одинарным крючком.
p  Длина лески, вес и форма грузил, поплавков, кормушек, пружин произвольные. Количество запасных удилищ и снастей не ограничивается.
p  6.6. Донная снасть (фидер или донка) должна быть оснащена оснастка (IN- LINE) которая обеспечивать освобождение рыбы от кормушки/грузила при обрыве снасти. Разрешается только «скользящий» монтаж.
p  Какие либо стопоры, узлы, и т.п., расположенные между точкой крепления кормушки к оснастке и удилищем, через которые кормушка/груз не проходит под собственным весом по направлению к удилищу, запрещены.
p  Перемещение оснастки по дну в процессе ловли разрешено любыми способами: как при помощи удилища, так и при помощи катушки.
p  6.7. После жеребьёвки участнику разрешено подойти к своему сектору и занести в него свои вещи, после как он занёс вещи участник должен покинуть свой сектор до первого сигнала вход в сектор.
p  6.7. Второй сигнал: Участники могут начать подготовливать снасти и приготовление прикормки.
p  6.8.Третий сигнал: Старт. Участники могут начинать ловить рыбу. Продолжительность тура 4 часа. Каждый из участников может использовать не более 5 л увлажненной и просеянной прикормочной смеси (включая балласт) и не более 2-х литров живой насадки и прикормки, в том числе мотыля не более 1 литра, на один тур соревнований.
p  Запрещается применение наркотических и одурманивающих рыбу веществ.
p  Наживка должна насаживаться на крючок, а не прикрепляться к
  нему каким-либо способом. Наживка только натуральная! (червь, опарыш, мотыль, манка, хлеб, тесто, кукуруза, горох).
p  Использование пенопласта или искусственного заменителя запрещено!
p  В зачет принимаются только одна крупная рыба из общего улова обитающие в водоеме, кроме занесенных в Красную книгу города Москвы.
p  При поимки крупной рыбы, участник должен поставить в известность линейного судью и произвести взвешивание, после чего судья и участник ставят свои подписи в протоколе и рыба должна быть выпущена обратно в водоём в присутствии судьи.
p  К взвешиванию рыба принимается только в живом виде, уснувшая рыба к зачёту не принимается.
p  Каждый участник соревнования должен иметь садок для рыбы из синтетической ткани, длинной не менее 1 метра.
p  Использование садков из металлической сетки строго запрещено.
p  6.9.Четвёртый сигнал: До финиша осталось пять минут.
p  6.10. Пятый сигнал: Финиш. По сигналу «Финиш» спортсмены прекращают ловлю, остаются в секторе до прибытия группы взвешивания или судьи-контролера за уловом. Участникам запрещено покидать сектор и подходить друг к другу до окончания взвешивания или сбора улова у всех спортсменов.
p  6.11. Взвешивание проводится весами с точностью взвешивания до 10 грамм.
p  6.12. После взвешивания вся рыба в живом виде может быть выпущена обратно в водоем.
p  6.13. После окончания соревнований спортсмен обязан убрать мусор в своем секторе.
p  6.14. К соревнованиям допускаются только здоровые участники, они же несут ответственность за состояние своего здоровья на весь период соревнований и
 пребывания на территории проведения соревнований.
p  Любые претензии связанные с этим пунктом передаются судье.
p  Запрещено обращаться за помощью к любому участнику соревнований во время проведения таковых. Исключение, только при необходимости оказать первую медицинскую помощь.
p  Участники соревнований обязаны соблюдать чистоту на водоеме. Все спорные моменты разрешаются решением судьи.
p  В случае не удовлетворения решением, участник вправе обратиться к Главному Судье. Решение Главного Судьи окончательное и обжалованию не подлежит.
p  6.15. Гости соревнований не должны подходить к участникам на протяжении всего мероприятия и не мешать им.

b  7. Награждение победителей.

p  Призы предоставлены компанией ООО "Народная Рыболовная Лига"
p  7.1. Победители будут определяться по крупной и наибольшему весу пойманной одной рыбы.
p  7.2. Участники, занявшие 1,2,3-е места за самую крупную пойманную рыбу награждаются ценными призами.
p  7.2.1. Участник, занявший первое место и поймавший самую крупную рыбу турнира награждается автомоблем Лада Веста.
p  7.3. Также будут награждены победители в различных номинациях.

b  8. Финансовые условия.

p  8.1. Участие в соревнованиях бесплатное.
p  8.2. Расходы рыболовов, связанные с проездом до места соревнований осуществляются самими участниками.

b  9. Регламент соревнований

p  23 июня 2016 года (суббота)
p  10.00 - Сбор участников и начало регистрации. Жеребьёвка секторов.
p  11.30 - Окончание регистрации, жеребьёвки
p  12.00 - Открытие соревнований.
p  12.00 - Первый сигнал - "Вход в сектора. Подготовка".
p  12.30 - Второй сигнал - "Прикормка".
p  13.00 - Третий сигнал - "Старт"
p  15.55 - Четвертый сигнал - "Пять минут до финиша".
p  16.00 - Пятый сигнал - "Финиш".
p  16.00-17.30 - Взвешивание уловов и подведение итогов.
p  18.00 - Награждение победителей, торжественное закрытие соревнований.
p  18.30 - отдых, рыбалка, общение

p
a.anch name="enter"
b  10. Судейская коллегия 

p  Председатель турнира Народная Рыболовная Лига - Валуев Николай
p  Главный судья - Богданов Сергей
p

b  11. Контактная информация

p  Тел: 8(495)968-57-94. ООО "Народная Рыболовная Лига"

  