=render 'home/row_1'
=render 'home/row_2'
=render 'home/row_3'
=render 'home/row_4'
/=render 'home/row_5'
/=render 'home/row_6'
/=render 'home/row_7'
/=render 'home/row_8'
/=render 'home/row_9'
/=render 'home/row_10'
/=render 'home/row_11'
/=render 'home/row_12'
/=render 'home/row_13'
/
/
