.btn {
  padding: 10px 30px 10px 23px;
  border-radius: 20px;
  font-family: OpenSansBold;

  @media (min-width: 769px) {
    letter-spacing: 3px;
  }

}

.btn-warning {
  background-color: #fe5400 !important;
  border-color: #fe5400 !important;
}

.ta-c {
  text-align: center;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

input.form-control {
  border-radius: 20px;
}

.inline {
  display: inline-block;
}

.anch {
  top: -100px;

}

.rel {
  position: relative;
}

@media (max-width: 1000px) {
  .grad {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(3, 3, 3, 0) 1%, rgb(0, 0, 0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(3, 3, 3, 0) 1%, rgb(0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(3, 3, 3, 0) 1%, rgb(0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
    position: absolute;
    bottom: 0px;
    height: 200px;
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .grad-white {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(3, 3, 3, 0) 1%, rgb(255, 255, 255) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(3, 3, 3, 0) 1%, rgb(255, 255, 255) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(3, 3, 3, 0) 1%, rgb(255, 255, 255) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
    position: absolute;
    bottom: 0px;
    height: 200px;
    width: 100%;
  }
}


.grad-white2 {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(3, 3, 3, 0) 1%, rgb(255, 255, 255) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(3, 3, 3, 0) 1%, rgb(255, 255, 255) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(3, 3, 3, 0) 1%, rgb(255, 255, 255) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
  position: absolute;
  bottom: 0px;
  height: 200px;
  width: 100%;
}

.img-wrp {
  img {
    max-width:100% !important;
  }
}

body {
  background-color:#23408f !important
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;

}

nav.navbar {
  padding: 0px !important;
  z-index: 9999999999;
}

.navbar .navbar-collapse {
  text-align: center;
}

.wra {
  @media (max-width: 767px) {
    text-align: center;
  }
}

a:hover {
  background-color: transparent !important;
}

a.btn-warning:hover {
  background-color: #FE5400 !important;
}
