/* font-family: "OpenSansCondensedLight"; */

@font-face {
  font-family: "OpenSansCondensedLight";
  src: url(font-path('OpenSansCondensedLight/OpenSansCondensedLight.eot'));
  src: url(font-path('OpenSansCondensedLight/OpenSansCondensedLight.eot?#iefix'))format("embedded-opentype"),
  url(font-path('OpenSansCondensedLight/OpenSansCondensedLight.woff')) format("woff"),
  url(font-path('OpenSansCondensedLight/OpenSansCondensedLight.ttf')) format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "OpenSansCondensedLightItalic"; */
@font-face {
  font-family: "OpenSansCondensedLightItalic";
  src: url(font-path('OpenSansCondensedLightItalic/OpenSansCondensedLightItalic.eot'));
  src: url(font-path('OpenSansCondensedLightItalic/OpenSansCondensedLightItalic.eot?#iefix')) format("embedded-opentype"),
  url(font-path('OpenSansCondensedLightItalic/OpenSansCondensedLightItalic.woff')) format("woff"),
  url(font-path('OpenSansCondensedLightItalic/OpenSansCondensedLightItalic.ttf')) format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "OpenSansCondensedBold"; */
@font-face {
  font-family: "OpenSansCondensedBold";
  src: url(font-path("OpenSansCondensedBold/OpenSansCondensedBold.eot"));
  src: url(font-path("fonts/OpenSansCondensedBold/OpenSansCondensedBold.eot?#iefix"))format("embedded-opentype"),
  url(font-path("OpenSansCondensedBold/OpenSansCondensedBold.woff")) format("woff"),
  url(font-path("OpenSansCondensedBold/OpenSansCondensedBold.ttf")) format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "OpenSansLight"; */
@font-face {
  font-family: "OpenSansLight";
  src: url(font-path("OpenSansLight/OpenSans-Light.ttf")) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url(font-path("OpenSans-Regular.ttf")) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansBold";
  src: url(font-path("OpenSans-Bold.ttf")) format("truetype");
  font-style: normal;
  font-weight: normal;
}



@font-face {
  font-family: "OpenSerif";
  src: url(font-path("Serif/PTZ55F.ttf")) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(font-path("roboto/Roboto-Regular.ttf")) format("truetype");
  font-style: normal;
  font-weight: normal;
}

.big-text {
  color:white;
  font-family: "OpenSansCondensedBold";
  font-size: 56px;

  @media (max-width: 767px) {
    font-size: 26px;
  }

}

.bl-text {
  font-family: "OpenSans";
  color:black;
  font-size: 13px;
  text-align: left;
}

.text-page {
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  text-align: left;
  font-family: "OpenSans";
  line-height: 1.25em;
  @media (max-width: 14px) {
    font-size: 26px;
  }
}

.text-page-white {
  color: rgba(248, 248, 248, 0.91);
  font-size: 18px;
  text-align: left;
  font-family: "OpenSans";
  line-height: 1.25em;
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.text-page-white2 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  text-align: left;
  font-family: "OpenSans";
  line-height: 1.25em;

}
.text-page2 {
  color: rgb(0, 0, 0);
  font-size: 14px;
  text-align: left;
  font-family: "OpenSans";
  line-height: 1.25em;
}

.middle-text-white {
  color:white;
  font-family: "OpenSansCondensedBold";
  font-size: 24px;
  text-align: left;
}

.middle-text {
  text-align: left;
  color:black;
  font-family: "OpenSansCondensedBold";
  font-size: 24px;
}

.text-w1 {
  text-align: left;
  color:white;
  font-family: "OpenSansCondensedBold";
  font-size: 16px;
}


.text-w2 {
  text-align: left;
  color:white;
  font-family: "OpenSans";
  font-size: 12px;
  b {
    padding-right: 5px;
  }
}

.text-w3 {
  text-align: left;
  color:white;
  font-family: "OpenSans";
  font-size: 12px;
  font-weight: bold;
}