.footer {
  height: 120px;
  background-color: #23408f !important;
  .left1 {
    top:10px;
    position: absolute;
    left: 50px;
    font-size: 18px;
    color: white;
    font-family: "OpenSansCondensedBold";
  }
  .left2 {
    top:40px;
    position: absolute;
    left: 50px;
    font-size: 26px;
    color: white;
    font-family: "OpenSansCondensedBold";
    a {
      color: white !important;
    }
  }
  .left3 {
    top:80px;
    position: absolute;
    left: 50px;
    font-size: 18px;
    color: white;
    font-family: "OpenSansCondensedBold";
  }
  .rel {
    position: relative;
  }

  .right {
    a {
      padding: 10px;
    }
    top:40px;
    position: absolute;
    right: 40px;
  }

}
