.footer {

  .t1 {
    font-family: OpenSansBold;
    font-size: 14px;
    margin: 30px 10px 10px 10px;
  }

  .r1 {
    padding: 10px 30px 30px 30px ;
    @media (max-width: 767px) {
      padding: 5px 10px 10px 10px;
    }
    background-color: #2490d8;
    color: white;

    .t2 {
      margin: 10px 10px 10px 10px;
      a {color: white}
      font-family: OpenSansLight;
      font-size: 34px;
      line-height: 1.2em;
      @media (max-width: 767px) {
        font-size: 18px;
      }
    }
  }

  .r2 {
    color: white;
    padding: 30px;
    background-color: #8397c9;
    .t1 {
      margin: 0px 0px 15px 0px ;
    }
  }
}