.footer {

  .r1 {
    padding: 10px 30px 30px 30px ;
    background-color: #2490d8;
    color: white;
    .t1 {
      font-family: OpenSansBold;
      font-size: 14px;
      margin: 30px 10px 10px 10px;
    }
    .t2 {
      margin: 10px 10px 10px 10px;
      a {color: white}
      font-family: OpenSansLight;
      font-size: 34px;
      line-height: 1.2em;

    }
  }
}