.row-12 {
  //height: 660px;
  background-color: #2490d7;
  position: relative;
  .cont {
    //position: absolute;
    //top: 50px;
    //left: 0px;
    //right: 0px;
    text-align: center;
  }
  padding-top: 50px;
  .row.cust {
    padding: 40px 20px 20px 20px ;
    @media (max-width: 767px) {
      padding: 20px 0px 0px 0px ;
    }
  }
}
