.row-11 {

  background-color: white;
  padding: 40px 10px 40px 10px;
  img {
    margin: 15px;
  }

  .t1 {
    font-family: OpenSansBold;
    font-size: 13px;
    letter-spacing: 3px;
    padding: 30px 30px 15px 30px;
  }

}