@import "home";
.row-4 {
  background-color: #3b5aa8;
  .cont {
    position: relative;
    text-align: center;
    padding: 15px;

    form {
      padding: 20px;
      .form-actions {
        margin: 30px;
        @media (max-width: 768px) {
          margin: 0px;
        }
      }
    }
  }
}

.phone-pref {
  color:white;
  font-size: 16px;
  vertical-align: middle;
  display: inline-block;
  line-height: 34px;
}

.phone-input {
  width: 85%;
  float: right;

}