.row-9 {
  min-height: 600px;
  background-color: black;

  .img-wrp {
    height: 600px;
    width: 100%;
    display: inline-block;
    position: absolute;
    left:0px;

  }

  .left {
    position: relative;
    min-height: 600px;

    @media (max-width: 767px) {
      padding: 10px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      padding: 15px;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      padding: 20px;
    }
    @media (min-width: 1200px) {
      padding: 40px;
    };

    img {
      max-width: 100%;
      padding: 30px;
    }

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+100&0+1,1+100 */

  }

  .right {

    .middle-text-white {
      padding: 15px 0px 15px 0px;
    }

    background-color: #31b0d5;

    @media (max-width: 767px) {
      padding: 10px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      padding: 15px;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      padding: 20px;
    }
    @media (min-width: 1200px) {
      padding: 40px;
    };
    display: inline-block;
    height: auto;
    min-height: 600px;
    @media (max-width: 991px) {
      min-height: initial;
    }
    opacity: 0.8;
  }

}


