<p>Добрый день, <%= @email %>!</p>

<p>Вы можете подтвердить Вашу регистрацию на турнире по ссылке</p>

<p><%= link_to 'подтвердить регистрациию', confirmation_url(@resource, confirmation_token: @token) %></p>

<%=render 'user_mailer/email_footer'%>
