<p>Добрый день, <%= @resource.email %>!</p>

<p>Вы запросили смену пароля, для этого нужно перейти по ссылке</p>

<p><%= link_to 'сменить мой пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не делали этот запрос, то проигнорируйте этот E-mail.</p>

<%=render 'user_mailer/email_footer'%>
