<p>Добрый день, <%= @resource.email %>!</p>

<p>Ваш аккаунт заблокирован из-за множественных попыток входа в него.</p>

<p>перейдите по ссылке для его разблокировки:</p>

<p><%= link_to 'разблокировать', unlock_url(@resource, unlock_token: @token) %></p>

<%=render 'user_mailer/email_footer'%>

